.card1-img {
    width: 50%;
}
.card2-img {
    width: 50%;
}
.card3-img {
    width: 50%;
}
#about-img {
    width: 50%;
}
.beginnings-img {
    width: 50%;
}
.present-img {
    width: 50%;
}
.future-img {
    width: 50%;
}
#faq-img {
    width: 50%;
}