@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=League+Spartan:wght@800&family=Montserrat:wght@200;300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    opacity: .9;
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f1efe7;
}
.logo {
    width: 125px;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    font-family: 'Montserrat';
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #cbcbd4;
    color: black;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 6em;
    margin-top: 10px;
    color: #d1b490;
    text-shadow: 
    0 0 7px #A4763E,
    0 0 10px #d1b490,
    0 0 20px #d1b490,
    0 0 30px #d1b490,
    0 0 42px #f1efe7,
    0 0 52px #f1efe7,
    0 0 92px #f1efe7,
    0 0 151px #f1efe7;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}
@keyframes pulsate {
    100% {
        text-shadow:
        0 0 7px #A4763E,
        0 0 10px #d1b490,
        0 0 42px #f1efe7,
        0 0 92px #f1efe7,
        0 0 151px #f1efe7;

    }
    0% {        
        text-shadow:
        0 0 7px #A4763E,
        0 0 10px #d1b490,
        0 0 40px #f1efe7,
        0 0 90px #f1efe7,
        0 0 149px #f1efe7;
    }    
  }
#hero-msg h4 {
    text-align: center;
    color: #d1b490;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
    background-color: black;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
}
#hero-msg {
    grid-column: 2/2;
    grid-row: 2/2;
}
.button-box {
    text-align: center;
}
.read-more {
    background-color: black;
    color: #f1efe7;
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.read-more:hover {
    background-color: #f1efe7;
    color: black;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr .5fr 3fr .5fr 3fr 1fr;
}
.home-msg {
    grid-column: 1/8;
    grid-row: 1;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.recipe1-card {
    grid-column: 2/3;
    margin: 0;
    background: white;
    color: black;
    border-radius: 20px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.recipe2-card {
    grid-column: 4/5;
    margin: 0;
    background: white;
    color: black;
    border-radius: 20px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.recipe3-card {
    grid-column: 6/7;
    margin: 0;
    background: white;
    color: black;
    border-radius: 20px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.card1-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card2-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card3-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
footer {
    background-color: #88aaaa;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
/*FAQ PAGE*/
#faq {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#faq-img {
    width: 100%;
    grid-column: 2/3;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
}
.faq-title {
    padding-top: 50px;
    grid-column: 1/2;
    font-family: 'League Spartan';
    font-size: 5em;
}
#faq-msg h4 {
    font-family: 'Montserrat';
    font-size: 1.25em;
}
.faq-heading {
    font-family: 'League Spartan';
    font-size: 3em;
    text-align: center;
}
.faq-button-box {
    padding-top: 20px;
    text-align: left;
}
.panel {
    font-family: 'Montserrat';
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #f1efe7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #cbcbd4;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
/*ABOUT PAGE*/
* {box-sizing:border-box}

#about-box {
    display: flex;
}
#about-msg {
    font-family: 'Montserrat';
    justify-items: flex-start;
    width: 50%;
}
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
  justify-items: flex-end;
}
.mySlides {
  display: none;
  justify-self: flex-end;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.about-grid {
    font-family: 'Montserrat';
}
.about-grid h2 {
    text-align: center;
}